.t-footer {
  /* For smartphone */
  border-top: 1px solid #d8d8d8;
  padding: 0 15px;
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    /* For PC */
    padding: 39px 0;
    margin: 0;
  }
}
