.m-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4px;
  li {
    border-right: 1px solid black;
    height: 24px;
    padding: 2px;
    &:last-child {
      border-right: none;
    }
  }
}
