.o-author-contact {
  /* For smartphone */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
  @media only screen and (min-width: 768px) {
    /* For PC */
    flex-direction: row;
  }
}
