.o-header {
  /* For smartphone */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  @media only screen and (min-width: 768px) {
    /* For PC */
    padding: 0;
  }
  h1 {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .m-nav-list {
    /* For smartphone */
    display: none;
    @media only screen and (min-width: 768px) {
      /* For PC */
      display: flex;
    }
  }
  .m-nav-list--mobile {
    /* For smartphone */
    display: block;
    @media only screen and (min-width: 768px) {
      /* For PC */
      display: none;
    }
  }
}
